DATABASE_URL=postgres://postgres-user:postgres-password@posgress-host:30094/db-name
SECRET=secret-key
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-client-secret
PORT=8000
